<a href="https://colab.research.google.com/github/2018130864-KwonHaYeon/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

for i in (  a   ):

 repeat할 내용

- for가 몇 번 돌아가는가? 4번

- for loop 구문을 쓸 때, in 뒤에 리스트가 올 수 있다
- for loop 구문을 쓸 때, in 뒤에 range가 올 수도 있다. (range는 0부터 시작한다. 즉, range(3)이면 [0,1,2])

In [ ]:
a = [1,2,3,4,5]
for i in a:
  print(i*8)

8
16
24
32
40

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [1]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

- for in range(0,4) : for in range [0,1,2,3]
- 4 이전까지 라는 의미
- a[0], a[1], a[2], a[3]을 출력한다.

In [ ]:
a = 'abcdef'
for i in range(len(a)):
  print(a[i])

a
b
c
d
e
f

In [2]:
a = [1,2,3,4]
for i in range(0,4):
  print(a[i])

1
2
3
4

In [4]:
a = [1,2,3,4]
for i in range(1,4):
  print(a[i])

2
3
4

- range(1,4) : 1,2,3만 (1부터 4 이전까지)

In [5]:
a = [1,2,3,4]
for i in range(1,5):
  print(a[i])

2
3
4

IndexError: ignored

- a[4] 값이 존재하지 않기 때문에 error가 난다.

In [10]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in range(0,10,2):
  print(a[i])

1
3
5
7
9

In [11]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in range(0,10,1):
  print(a[i])

1
2
3
4
5
6
7
8
9
10

- 기본이랑 똑같다.

- 0부터 3까지 (4 직전까지) 2칸을 띄어라.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

* enumerate: 열거하다, 파이썬 내장 함수 - 하지 않음

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [16]:
a = 0
if a == 0:                         # true
    print(a)
else:
    print(a+1)

0

In [17]:
a = 1
if a == 0:                       # false
  print(a)
else:
  print(a+1)

2

In [19]:
a = 1
if a ==0:
  print(a)

- 제어문: loop(for, while - while은 배우지 않음) / condition (if)
- equal sign을 두 개 써야 함
- 위 코드 같은 경우 아예 아무것도 나오지 않음 (if 문에 아예 해당이 안되기 때문에 print 자체를 안 함)

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

- 첫번째 for: i = 1,2
- 두번째 for: j = 3,4

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [20]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b
print(type(b))
print(b)

<class 'list'>
[2, 3, 4]

* list 속에 for 문이 있는 특이한 case

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']