<a href="https://colab.research.google.com/github/2018130864-KwonHaYeon/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

In [9]:
a=1; a
b=2; b
c=3; c

3

* print를 안 쓰면 마지막 것만 나온다.

In [11]:
a=1; print(type(a))
b=2.22; print(type(b))
c=3; print(c)

<class 'int'>
<class 'float'>
3

In [12]:
a = 1; a = float(a); print(type(a)); print(a)

<class 'float'>
1.0

In [13]:
a = 1.2; a = int(a); print(type(a)); print(a)

<class 'int'>
1

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

* quotation을 해서 더이상 숫자가 아님 (single quote, double quote 똑같음)

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

* a를 list 형태로 바꿔라.

In [15]:
a = [1, 'cde', 4]
a = [1, 'cde', [1,3]]

* list 안에는 어떤 형태가 들어와도 상관이 없다.

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [16]:
a = [1,2,3]
a[0] = -1
a

[-1, 2, 3]

In [17]:
a = (1,2,3)
a[0]= -1
a

TypeError: ignored

* tuple은 바꿀 수가 없다. 데이터 안전성 측면에서 낫다.

In [18]:
a = {'a': 'apple', 'b': 'orange', 'c':2014}
a['c']=2021
a

{'a': 'apple', 'b': 'orange', 'c': 2021}

In [19]:
a = {'a': 'apple', 'b': 'orange', 'c':2014}
type(a)

dict

* dictionary는 a[0] 이런 식이 아니라, a["b"] 이런 식으로 표제어를 통해 access한다.
* a[1]은 dictionary에서 안 된다.

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]